#calc{
    width: 510px;
    border-radius: 20px;
    margin: 50px auto;
    padding: 10px;
    background-color: aqua;
    box-shadow: 7px 7px 4px gray;
}
#result{
    width: 460px;
    height: 70px;
    font-size: 3rem;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px 10px 10px 14px;
    padding: 4px 4px 4px 12px;
    box-shadow: -3px -3px 4px gray;
}
#btn, #del-btn, #ac-btn, #equalsto-btn{
    width: 92px;
    height: 76px;
    background-color: white;
    color: black;
    border-radius: 8px;
    margin: 15px;
    padding: 6px;
    font-size: 2rem;
    font-weight: bolder;
    box-shadow: 4px 4px 2px gray;
}
#del-btn{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}
#ac-btn{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}
#equalsto-btn{
    color: white;
    background-color: rgba(0, 145,234, 0.6);
}
.gray{
    background-color: rgba(128, 128,123, 0.3) !important;
}